.social-links {
    display: flex;
    gap: 4px;
    justify-content: space-between;
    
    .icon {
        height: 30px;
        width: 30px;
        color: #E5E7EB;
        
        :hover {
            color: #2563EB;
        }
    }
}