#about {
    color: var(--text-muted);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 1024px) {
        padding: 0 0 0 2rem;
    }
    
    span {
        padding: 4px;
    }
}